
h1
{
  color: red;
  font-family: 'Roboto';
}

/* this is class */
.container
{
  margin:50%;
  padding: 20px;
  background-color:#1a77ab;
  width: 50%;
  box-shadow: 5px 10px 20px 20px rgb(110, 241, 174);
  border-radius: 20%;
}

.container h1
{
font-size: 4em;
}

/* This is an id */
#dog{
background-color: pink;
width:410px;
}

.article h1{
  color:blue;
}
