.gridMain
  {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "hea nav nav"
                         "hea nav nav"
                         "mai mai mai"
                         "foo foo foo";
    grid-template-rows: 55% 30% 130% 20%;
    grid-template-columns: 40% 30% 30%;

    /* Display the grids in a friendly mobile version */

  }

.gridMain header
  {
    grid-area: hea;
    border: 1px solid rgb(198, 201, 196);
    border-radius: 5%;
    padding: 20px;
  }

.gridMain nav
{
  grid-area: nav;
  border: 1px solid rgb(198, 201, 196);
  border-radius: 5%;
  margin-left: 20px;
  padding: 30px;
}
.gridMain main
  {
    grid-area: mai;
    border-radius: 5%;
    margin-top: 70px;
  }
.gridMain footer
{
  grid-area: foo;

}
.h1
{
 color: rgb(106, 181, 228);
 font-family: 'Trade Winds', cursive;
}

.h2
{
  font-family: 'Trade Winds', cursive;
}

.h3
{
  border-radius: 5%;
}

.smallGrid
{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:"1 2"
                      "3 4";
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  margin-top: 50px;
  grid-gap:5px;
/* Display your smaller grid with just rows */


}

.h4
{
background-color: rgb(202, 246, 233);
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #111;
}

.ul2 {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 13%;
  margin-left: 40%;
}

.li2 {
  float: left;
}

.li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li2 a:hover {
  background-color: #111;
}

.h6
{
  font-family: 'Trade Winds', cursive;
  font-size: 22px;
  margin-left: 40%;
  color: rgb(139, 198, 241);
}
