.gridMain
  {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "hea"
                         "nav"
                         "mai"
                         "foo";
    grid-template-rows: 750px 990px 1600px 500px;
    grid-template-columns: 100%;

    /* Display the grids in a friendly mobile version */

  }

.gridMain header
  {
    grid-area: hea;
    border: 1px solid rgb(198, 201, 196);
    border-radius: 5%;
  }

.gridMain nav
{
  grid-area: nav;
  border: 1px solid rgb(198, 201, 196);
  border-radius: 5%;
  margin-top: 70px;
  padding: 20px;
}

.gridMain main
  {
    grid-area: mai;
    border-radius: 5%;
    margin-top: 70px;
  }

.gridMain footer
{
  grid-area: foo;
}

.h1
{
 color: rgb(106, 181, 228);
 font-family: 'Trade Winds', cursive;
}

.h2
{
  font-family: 'Trade Winds', cursive;
}

.h3
{
  border-radius: 5%;
}

.h4
{
background-color: rgb(202, 246, 233);
}

.navigation ul {
 list-style-type: none;
 padding: 0;
 width: 100%;
 background-color: rgb(225, 225, 227);
 border: 1px solid #555;
}

.navigation li a {
 display: block;

 padding: 8px 16px;
 text-decoration: none;
}

.navigation li {
 text-align: center;
 border-bottom: 1px solid #555;
}


.navigation li a.active {
 background-color: #4CAF50;
 color: white;
}

.navigation li a:hover:not(.active) {
 background-color: #555;
 color: white;
}

.navigation h1
{
  font-family: 'Trade Winds', cursive;
  font-size: 16px;
  color: black;
}

.ul2 {
 list-style-type: none;
 margin-left: 25%;
 padding: 0;
 width: 50%;
 background-color: rgb(6, 168, 71);
 border: 1px solid #555;
 color: black;
}

.li2 a {
 display: block;

 padding: 8px 16px;
 text-decoration: none;
}

.li2 {
 text-align: center;
 border-bottom: 1px solid #555;
}

.li2:last-child {
 border-bottom: none;
}

.li2 a.active {
 background-color: #4CAF50;
 color: white;
}

.li2 a:hover:not(.active) {
 background-color: rgb(241, 140, 22);
 color: white;
}

.h6
{
  font-family: 'Trade Winds', cursive;
  font-size: 22px;
  margin-left: 33%;
  color: rgb(139, 198, 241);
}
