ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.h1
{
  font-family: 'Trade Winds', cursive;
  font-size: 16px;
  color: black;
}

.h2
{
  font-family: 'Trade Winds', cursive;
  font-size: 22px;
}

.gridMain
{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "hea hea hea hea"
                       "main main main main"
                       "foo foo foo foo";
  grid-template-rows: 40% 40% 20%;
  grid-template-columns: 25% 25% 25% 25%;
  /* Display the grids in a friendly mobile version */

}



.gridMain header
{
  grid-area: hea;
}

.gridMain main
{
  grid-area: main;
}
.gridMain footer
{
  grid-area: foo;
}

.smallGrid
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:"1 2 3 4";
  grid-template-rows: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 50px;
  margin-bottom: 200px;
/* Display your smaller grid with just rows */


}

/* Give a border line to all divs inside my .basicGrid1 class */



.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: 100%;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(6, 168, 71);
  color: white;
  font-family:'Caladea', serif;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.container .btn:hover {
  background-color: rgb(241, 140, 22);
}

.h3
{
  margin-top: 70px;
}

.h6
{
  font-family: 'Trade Winds', cursive;
  font-size: 22px;
  margin-left: 40%;
  color: rgb(139, 198, 241);
}

.ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 360px;
  margin-left: 33%;
}

.li2 {
  float: left;
}

.li2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li2 a:hover {
  background-color: #111;
}

.parallax
{
  margin-top: 0;
  height: 50vh;
  /* YOU CAN ATTACH YOUR IMAGE TO THE BACKGROUND OF YOUR ELEMENTS */
  background-image: url("../img/cover_Miami.png");
  background-size: 90% auto;
  /* THIS IS WHAT IT MAKES YOUR IMAGE FIXED TO THE BACKGROUND INSTEAD
   OF MOVING WITH YOUR OTHER ELEMENTS */
  background-attachment: fixed;
  /* PLACE THE IMAGE IN THE MIDDLE */
  background-position: top center;
}
