.navigation
{
  color: rgb(20, 74, 157);
  background-color:rgb(72, 231, 193);
  width:200px;
}

a:hover
{
  background-color:rgb(241, 184, 13);
}

a:link
{
  text-decoration: none;
}

.h1
{
  font-family: 'Lato', sans-serif;
}

.container
{
  margin-left: 1%;
  padding: 10px;
  background-color:rgb(135, 220, 247);
  width: 50%;
  box-shadow: 5px 10px 5px 5px rgb(112, 160, 173);
  border-radius: 10%;
}

.navigation1
{
  color:black;
  background-color:rgb(103, 238, 149);
  width:450px;
}

.navigation2
{
  color:black;
  background-color:rgb(72, 231, 193);
  width:200px;
}

.body
{
  background-color:rgb(216, 244, 229);
}

.h2
{
  border-radius: 10%;
  margin-left: 42px;
  box-shadow: 5px 5px 5px 5px rgb(134, 135, 143);
}

.sidebar{
  float:right;
  margin-top:10%;
  margin-left: 60px;
  padding: 20px;
  background-color:rgb(238, 251, 134);
  width: 40%;
  box-shadow: 5px 10px 20px 20px rgb(70, 194, 123);
  border-radius: 20%;
}

.h3
{
 margin-left: 4%;
}

.h11
{
background-color:rgb(186, 227, 247);
width: 300px;
}

p::first-line {
  color: blue;
}
